*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

img{
    width: 100%;
}

// Containers
.big-container{
    width: 90%;
    margin: 0 auto;
}

.small-container{
    width: 75%;
    margin: 0 auto;
}

// utility class
.my-d-flex{
    display: flex;
}